In [8]:
from opensky_api import OpenSkyApi
import pandas as pd
import gmplot 
import time

In [11]:
api = OpenSkyApi()
box_home = (52.144, 52.27, 5.03, 5.34)
box_nl= (51.3, 53.4, 4, 7.2)
min_lat, max_lat, min_lon, max_lon = box_home
home_lat, home_lon = (52.207676, 5.163576)
# bbox = (min latitude, max latitude, min longitude, max longitude)
states = api.get_states(bbox=(min_lat, max_lat, min_lon, max_lon))
keys = pd.DataFrame(columns = states.states[0].keys)
flights = pd.DataFrame(columns = states.states[0].keys)
time.sleep(5)

“At time 1458987225, we’ve seen c0ffee (call-sign CONAIR) at latitude 51.89°, longitude 1.28°, and altitude 11500m flying at 230m/s into direction 30°. Velocity was updated at 1458987224.097. Position was updated at 1458987224.27.”

In [13]:
#while(True):
states = api.get_states(bbox=(min_lat, max_lat, min_lon, max_lon))
for s in states.states:
    print("(%r, %r, %r, %r)" % (s.longitude, s.latitude, s.baro_altitude, s.velocity))
flights_to_add = [{k:getattr(f, k) for k in keys} for f in states.states]
flights = flights.append(flights_to_add,ignore_index=True)

(5.193, 52.1908, 335.28, 19.79)
(5.1658, 52.2467, 6995.16, 159.18)
(5.1725, 52.1863, 251.46, 38.91)
(5.1428, 52.1489, 160.02, 31.25)
(5.2729, 52.1493, 381, 2.77)
(5.2933, 52.1632, 548.64, 5.47)

In [14]:
flights['callsign'].value_counts()

            2
PH1466      1
PH1280      1
PHSKM       1
PH774       1
Name: callsign, dtype: int64

In [21]:

    
gmap3 = gmplot.GoogleMapPlotter(home_lat,home_lon, 12) 
gmap3.apikey = "AIzaSyAHxKQTJbpuk9XpNq0rbjiU80SaVbcHNUU"
# scatter method of map object  
# scatter points on the google map 
  
# Plot method Draw a line in 
# between given coordinates 

for icao in flights['icao24'].value_counts().index:
    latitude_list = list(flights[flights['icao24']==icao]['latitude'])
    longitude_list = list(flights[flights['icao24']==icao]['longitude'])
    callsign_list = list(flights[flights['icao24']==icao]['callsign'])
    #print(icao, flights[flights['icao24']==icao]['callsign'].values,latitude_list, longtitude_list)
    gmap3.scatter( latitude_list, longitude_list, 'bla','yellow', size = 200, marker = True ) 
    #gmap3.marker(latitude_list, longitude_list,title='bla')
    gmap3.plot(latitude_list, longitude_list, 'cornflowerblue', edge_width = 2.5) 
gmap3.marker( 52.206233, 5.162736,'blaaaaaaaaaaaaaaaaaaaaaaaaa')
gmap3.draw( "C:\\Users\\Jesse\\Documents\\GitHub\\flight\\test.html" )

In [252]:
flights[flights['icao24']=='48506d']

,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,heading,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
8,48506d,TFL348,Kingdom of the Netherlands,1559372760,1559372760,4.5080,52.5896,647.7,False,136.41,45.15,-6.83,None,777.24,6326,False,0
17,48506d,TFL348,Kingdom of the Netherlands,1559372830,1559372830,4.6272,52.6117,533.4,False,112.15,89.74,0.33,None,655.32,6326,False,0
26,48506d,TFL348,Kingdom of the Netherlands,1559372899,1559372900,4.7115,52.5886,533.4,False,96.06,156.32,-0.33,None,655.32,6326,False,0
35,48506d,TFL348,Kingdom of the Netherlands,1559372970,1559372970,4.7276,52.5302,533.4,False,93.29,183.48,-0.33,None,655.32,6252,False,0

In [10]:
    
gmap3 = gmplot.GoogleMapPlotter(home_lat,home_lon, 12) 
gmap3.apikey = "AIzaSyAHxKQTJbpuk9XpNq0rbjiU80SaVbcHNUU"
# scatter method of map object  
# scatter points on the google map 
  
# Plot method Draw a line in 
# between given coordinates 



gmap3.draw( "C:\\Users\\Jesse\\Documents\\GitHub\\flight\\test.html" )

In [ ]:
s.where(s==True).last_valid_index()